# Database
DATABASE_URL="mysql://app:apppassword@localhost:3306/subscription_management"

# MySQL Docker
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=subscription_management
MYSQL_USER=app
MYSQL_PASSWORD=apppassword
